#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.user-profile {
  max-width: 400px;
  font-family: Arial, sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.user-profile h2 {
  margin: 0;
}

.user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.controls button {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #45a049;
}
